<header class="container">
  <h1 class="text-center">Login</h1>
</header>
<section class="container register-container">
    <form class="">
      <div class="form-group">
        <div class="input-group">
            <span class="input-group-addon glyphicon glyphicon-check input-glyphicon"></span>
            <input type="text" class="form-control" id="username" placeholder="Username">
        </div>
      </div>
      <div class="form-group">
        <div class="input-group">
            <span class="input-group-addon glyphicon glyphicon-check input-glyphicon"></span>
            <input type="password" class="form-control" id="pwd" placeholder="Password">
        </div>            
      </div>
      <div class="col-md-12 text-center">
        <button type="submit" class="btn btn-success btn-lg">Login</button>
      </div>
    </form>
</section>